<%= form_with(model: @departamento, local: true) do |form| %>
  <div class="field">
    <!-- Etiqueta para el campo estado -->
    <%= form.label :estado %>
    <!-- Campo de selección para estado -->
    <%= form.select :estado, ["disponible", "vendido", "arrendado"] %>
  </div>

  <div class="actions">
    <!-- Botón de envío del formulario -->
    <%= form.submit %>
  </div>
<% end %>
